<header>
  <div class="header-content" id="about">
    <div class="header-content-inner">
      <h1>Welcome to Jongbin.com</h1>
      <hr>
        <p>I'm currently a PhD student in <a
        class="light" href="https://msande.stanford.edu"
        target="_blank">Management Science & Engineering</a> at Stanford
        University. My work is in the cross-section of Decision Analysis and
        Computational Social Science.
        I prefer clarity and transparency to complexity and obscurity,
        and my thesis is based on the idea that the former lead
        people to make better decisions.</p>

        <p>I blog about <a href="http://blog.jongbin.com" class="light"
          target="_blank">technical stuff</a> and <a
           href="http://dam.jongbin.com" class="light"
          target="_blank">my daughter</a> (mostly in Korean), and provide <a
          class="light"
          href="https://github.com/jongbinjung/css-python-workshop"
        target="_blank">workshops</a>, <a class="light"
        href="https://github.com/jongbinjung/r-tutorial"
        target="_blank">tutorials</a>, and <a class="light"
        href="https://github.com/5harad/css" target="_blank">crash courses</a>
        on various topics related to Computational Social Science.</p>
      <a href="#skills" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>
