<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Skills</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-compass wow bounceIn text-primary"></i>
          <h3>Decision Analysis</h3>
          <p class="text-muted">Trained
            in normative decision making and probabilistic analysis.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Data Science</h3>
          <p class="text-muted">Expert
            in collecting, cleaning, and analyzing data. Lots of it.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-dashboard wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Operations Research</h3>
          <p class="text-muted">Optimized for efficiently maximizing
            or minimizing.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Software Engineering</h3>
          <p class="text-muted">Writing code since 1998, in BASIC, C/C++, JAVA,
          Python, R, Julia, Go, and many more.</p>
        </div>
      </div>
    </div>
  </div>
</section>
